@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));
@keyframes scrollLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-50% - 1.5rem)); /* Accounting for wider gap */
  }
}

@keyframes scrollRight {
  0% {
    transform: translateX(calc(-50% - 1.5rem)); /* Accounting for wider gap */
  }
  100% {
    transform: translateX(0);
  }
}

.animate-scrollLeft {
  animation: scrollLeft 240s linear infinite;
  width: max-content;
}

.animate-scrollRight {
  animation: scrollRight 240s linear infinite;
  width: max-content;
}

/* Add pause-on-hover functionality */
.group:hover .group-hover\:pause {
  animation-play-state: paused;
}

/* Add cursor pointer class */
.cursor-pointer {
  cursor: pointer;
}

@keyframes subtleBounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(3px);
  }
}

.animate-subtle-bounce {
  animation: subtleBounce 2s infinite ease-in-out;
}
